.featured {
  position: relative;
  color: $white;
  background-color: $black;
  overflow: hidden;

  &::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3));
  }
}

.featured--no-image {
  background: linear-gradient(45deg, $primary, #695a38);

  &::after {
    display: none;
  }
}

.featured__title {
  margin: 0 0 1rem 0;
}

.featured__sm-title {
  margin: 0 0 2rem 0;
}

.featured__heading {
  margin: 0 0 2rem 0;

  @media (min-width: $lg) {
    margin: 0 0 3rem 0;
  }
}

.featured__content {
  max-width: 85ch;
  position: relative;
  z-index: 1;
  padding: 2rem 0;

  @media (min-width: $lg) {
    padding: 4rem 0;
  }
}

.featured__body {
  @media (min-width: $md) {
    font-size: 1.4rem;
  }
}

.featured__image {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
