.navbar {
  background-color: $white;
  color: $primary;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 4rem;
  box-shadow: 0 0.1rem 0.75rem rgba(0, 0, 0, 0.15);

  @media (min-width: $md) {
    height: 5rem;
  }
}

.navbar__content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-family: "Bitter", serif;
}

.navbar__logo-wrapper {
  font-weight: 700;

  a {
    display: block;
    padding: 1rem 1rem 1rem 0;
    text-decoration: none;
    font-size: 1.6rem;

    @media (min-width: $md) {
      font-size: 2.2rem;
    }
  }
}

.navbar__items {
  margin-left: auto;
}
