.navbar {
  background-color: $white;
  color: $primary;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 4rem;
  box-shadow: 0 0.1rem 0.75rem rgba(0, 0, 0, 0.15);

  @media (min-width: $md) {
    height: 5rem;
  }
}

.navbar__content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-family: "Bitter", serif;
}

.navbar__logo-wrapper {
  font-weight: 700;
  margin: 0;

  @media (min-width: $md) {
    display: flex;
    align-items: baseline;
  }

  a {
    display: block;
    padding: 1rem 1rem 1rem 0;
    text-decoration: none;
    font-size: 1.6rem;

    @media (min-width: $md) {
      font-size: 2.2rem;
    }
  }
}

.navbar__desc {
  display: none;
  font-size: 1.1rem;
  color: $text;
  font-family: $body;
  font-weight: 400;
  color: $secondary;
  position: relative;
  padding-left: 1rem;

  @media (min-width: $md) {
    display: block;

    &::before {
      display: block;
      content: "";
      width: 1px;
      height: 5rem;
      border-left: 3px solid lighten($secondary, 40%);
      position: absolute;
      top: -2rem;
      left: 0;
      transform: rotate(30deg);
    }
  }
}

.navbar__items {
  margin-left: auto;
}
