.post {
  padding: 0 0 2rem 0;
}

.post__desc {
  font-size: 1.1rem;
  padding: 0 0 1rem 0;
  border-bottom: 2px solid;
  max-width: 55ch;
  margin: 1rem 0 0 0;

  @media (min-width: $md) {
    font-size: 1.7rem;
    color: $primary;
    line-height: 1.5;
    margin: 2rem 0 0 0;
  }
}

.post__title {
  margin: 0 0 1rem 0;

  @media (min-width: $md) {
    max-width: 25ch;
  }
}

.post__header-wrapper--with-img {
  @media (min-width: $lg) {
    position: relative;
    margin-top: -12rem;
    background-color: $bg;
    position: relative;
    padding: 1.5rem 2.5rem 0 2.5rem;
    border-radius: 0.15rem;

    &::after {
      position: absolute;
      top: 10rem;
      left: 0;
      width: 100%;
      height: 8rem;
      content: "";
      box-shadow: 0rem -5rem 0.5rem rgba(0, 0, 0, 0.15);
      z-index: -1;
    }
  }
}

.post__header-content {
  padding: 1rem 0 0 0;

  @media (min-width: $md) {
    padding: 4rem 0 0 0;
  }
}

.post__game-info {
  padding: 0.75rem 1rem;
  background-color: darken($bg, 7%);
  display: inline-block;
  margin-top: 1rem;

  @media (min-width: $md) {
    padding: 0.75rem 1.5rem;
  }

  * {
    margin: 0;
  }

  a {
    color: $secondary;

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

.post__error {
  color: lighten($text, 20%);
}

.post__date {
  display: block;
}

.post__content {
  padding: 1rem 0;

  * {
    &:first-child {
      margin-top: 0;
    }
  }

  @media (min-width: $md) {
    padding: 3rem;
  }
}

.post__richtext {
  ul,
  ol {
    margin-left: 2rem;

    @media (min-width: $md) {
      margin-left: 4rem;
    }
  }

  ul {
    list-style-type: disc;
  }

  li + li {
    margin-top: 0.5rem;
  }

  ol {
    list-style-type: decimal;
  }
}

.post__featured-image {
  height: rem(500px);
  max-height: 60vh;
  position: relative;

  &::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0) 50%
    );
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
